header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar{
  background-color: #146C94;
  height: 65px;
}
.pagelogo div{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.pagelogo:hover{
  text-decoration:none;
}

.navbar-nav{
      
  border: 2px solid white;
  border-radius: 2rem;
  margin-top: 10px;
  background-color: #146C94;
  float: right;
  padding: 5px;

}

.navbar-toggler{
  background-color: white;
  color: black;
  border-radius: 2rem;
  padding: 5px;
  margin-right: 10px;
}

.hamburger{
  width: 40px;
  opacity: 70%;
}

.nav-item a{
  color: white;
  font-weight:bolder;
  
}      



@media (min-width: 576px) { 

.pagelogo div{
  font-size: 20px;
}

.nav-item a{
  padding: 10px;
  font-size: 14px;

}      

.navbar-toggler{
  margin-right: 6px;
}

.navbar{
  padding: 0;
  height: 65px;
}
}

@media (min-width: 768px) { 

.navbar{
  padding: 0;
  height: auto;
}

.pagelogo div{
  font-size: 25px;
}

.nav-item a{
  font-size: 16px;
  color:#5B5B5B;
 
}   
.navbar-nav{
      
  background-color: white;
  margin-top: 0;
  padding: 5px;

}
}


@media (min-width: 992px) { 
.navbar{
  padding: 0;
  height: auto;
}
.navbar-nav{
      
  background-color: white;
  margin-top: 0;

}

.pagelogo div{
  font-size: 25px;
}

.nav-item a{
  margin: 0px 15px;
  font-size: 15px;
  color:#5B5B5B;
}      
}

@media (min-width: 1200px) { 
.navbar{
  padding: 0;
  height: auto;
}
.navbar-nav{
      
  background-color: white;
  margin-top: 0;

}

.pagelogo div{
  font-size: 25px;
}

.nav-item a{
  margin: 0px 15px;
  font-size: 20px;
  color:#5B5B5B;
}      

  }


